.body {
    padding: 0px;
    margin: 0px;
    height: 661px;    
}
header{
    height:35px;
    background-color: rgba(74, 190, 136, 0.96);
   

}
footer{
    height:35px;
    background-color: rgba(74, 190, 136, 0.96);

}

.col{
    background-image: url(./images/bank.avif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s ease-in-out; 
}


.image {
    height: 800px;
    width: 100%;

}

.div-2 {
    width: 50%;
    height: 460px;
    background-color: rgba(255, 217, 0, 0);
    border-radius: 100px;
    margin-top: 50px;
    transition: 1s ease-in-out;
    border: 2px rgb(0, 0, 0) solid;
    background-color:rgba(74, 190, 136, 0.96);
 

}

.div-2:hover {
    transform: scale(1.05);
}

.account {
    height: 40px;
    width: 70%;
    font-family: 'Bona Nova', serif;
}

.password {
    height: 40px;
    width: 70%;
    margin-top: 50px;
    font-family: 'Bona Nova', serif;
}

.h1 {
    font-family: 'Bona Nova', serif;
    color: rgb(0, 0, 0);
}

.button1 {
    height: 40px;
    width: 20%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    font-family: 'Bona Nova', serif;
    border:white ; 
    color:rgba(74, 190, 136, 0.96); 
   
}

.div-3 {
    color: rgb(0, 0, 0);
    font-family: 'Bona Nova', serif;
}

.click {
    color:red
}


@media(min-width:600px) and (max-width:1200px) {
    .div-2 {
        width: 50%;
        height: 460px;
        border-radius: 100px;
    }
    .col{
        width: 50%;
    }

    .account {
        height: 40px;
        width: 80%;

    }

    .password {
        height: 40px;
        width: 80%;
    }

    .button1 {
        height: 40px;
        width: 30%;

    }

    .body {

        height: 742px;
    }

    .div-3 {
        font-size: 13px;
    }
}

@media(min-width:450px) and (max-width:600px) {
    .div-2 {
        width: 65%;
        height: 460px;
        border-radius: 100px;
    }
    .col{
        width: 50%;
    }
    .account {
        height: 40px;
        width: 85%;

    }

    .password {
        height: 40px;
        width: 85%;
    }

    .button1 {
        height: 40px;
        width: 35%;

    }

    .body {
        text-align: center;
        height: 742px;
    }
}

@media(min-width:350px) and (max-width:450px) {
    .div-2 {
        width: 68%;
        height: 500px;
        border-radius: 100px;
    }
    .col{
        width: 50%;
     
    }
    .h1{
        font-size: 30px;
        margin-top: 15px;
    }
    .account {
        height: 40px;
        width: 100%;

    }

    .password {
        height: 40px;
        width: 100%;
    }

    .button1 {
        height: 40px;
        width: 50%;

    }

    .body {

        height: 742px;


    }

    .div-3 {
        font-size: 13px;
    }
}

@media(min-width:250px) and (max-width:350px) {
    .div-2 {
        width: 100%;
        height: 460px;
        border-radius: 100px;
    }
    .col{
        width: 100%;
    }
    .account {
        height: 40px;
        width: 90%;

    }

    .password {
        height: 40px;
        width: 90%;
    }

    .button1 {
        height: 40px;
        width: 50%;

    }

    .body {

        height: 742px;


    }

    .div-3 {
        font-size: 11px;
    }
}