/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;   
    font-family: 'Bona Nova', serif;
}


.form{
    transition: 1s ease-in-out;
}
.form:hover{
transform: scale(1.05);
}
header{
    height:45px;
    background-color:rgba(25, 105, 97, 0.73);
    font-family: 'Bona Nova', serif;
    color:wheat;
    font-size: 35px;
   

}

footer{
    height:45px;
    background-color: rgba(25, 105, 97, 0.73);
    text-align: center;
    color:wheat;
    font-family: 'Bona Nova', serif;
    font-size: 20px;
}
.cc{
    display: none;
}