
<header></header>

<div class="body background p-5">


    <div class="row ">

        

        <div class="container div-2 text-center col-6">

            <form (ngSubmit)="register()" action="" class="form">

                <h1 class="mb-5 mt-4  text-center h1">Sign Up</h1>
                <input [(ngModel)]="accno" type="text" placeholder="Account No" class="account form-control container" name="accno" id="a1">
                <input  [(ngModel)]="uname" type="text" placeholder="Username" class="password form-control container" name="uname"
                    id="u1">
                <input  [(ngModel)]="psw" type="password" placeholder="Password" class="password form-control container" name="psw"
                    id="p1">
                <button type="submit" class="mt-5 text-center button1">Sign Up</button>

            </form>

        </div>

        <div class="col col-6 container p-5">

        </div>

    </div>






</div>

<footer></footer>